.dashboard__container {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(xl) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        min-height: 65vh;
    }
}