.login-form-container{

    h1{
        margin:0 0 1rem !important;
        text-align: center;
        font-size: 35px !important;
    }

    .login-form{
        max-width: 300px;
    }
    
    .btn-register{
        button{
            width: 100%;
        }

        p{
            font-size: 14px;
            margin-top: 0.5rem;
        }
    }

    .error{
        color: red;
        margin: 0;
    }
}