.summary-container {
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    img {
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 2rem;
    }
}

.calendar-container {
    margin-top: 2rem;
    @include media-breakpoint-up(lg) {
        padding-right: 3rem;
    }
}